* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

/* Links Section of the Header */
.header {
    background-color: #1f2937;
    padding: 20px 150px 100px;
}

.links {
    margin-bottom: 70px;
    /* Align Header Links to the Top */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    /* Align Links Horizontally */
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-title {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

li, p, button, a {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

/* Info Section in the Header */
.infoSection {
    /* Align Section Horizontally */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos {
    width: 42%;
    flex: 0 0 auto;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

button {
    margin-top: 10px;
    padding: 5px 30px;
    border-radius: 7px;
    background-color: #3882f6;
    border: 0px;
}

img {
    display: block;
    border: #9095a1;
    background-color: #9095a1;
    max-width: 55%;
    min-width: 45%;
    min-height: 250px;
    flex: 1 0 auto;
}

img::before {
    /* Add a Custom Image PlaceHolder */
    content: attr(alt);
    background-color: #9095a1;
    color: #e5e7eb;
    height: 100%;

    /* Center the Image Placeholder Text */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Info Section Styling */
.mainInfoSec {
    text-align: center;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 40px;
}

.mininfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 20px;
    margin-bottom: 10px;
}

.infobox {
    width: 150px;
    flex: 0 0 auto;
}